{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Upload YAML file{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="file">Yaml File</label>
        <input type="file" name="file" id="file" accept=".yaml" required>
        <input type="submit" value="Upload">
    </form>
    <ul>
    {% if config_map %}
    {% for key, value in config_map.items() %}
        <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
    {% endif %}
    </ul>
{% endblock %}